<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Brain Tumor MRI Classifier</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="fileInput" required>
            <br>
            <img id="preview" src="#" alt="Image Preview" style="display: none; max-width: 200px; margin: 10px auto;">
            <br>
            <button type="submit">Predict</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
